{% extends '../layout.html' %}
{% block content %}
		<br/>
		<div class="row" style="">
			<div class="col-md-3">
				<h3>Login</h3>
				<form id="form-login" role="form" action="/do_login" method="POST">
				  <div class="form-group">
				    <label>Username</label>
				    <input id="users_un" name="users_un" type="text" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Password</label>
				    <input id="users_pw" name="users_pw" type="password" class="form-control">
				  </div>
				  <button type="submit" id="add-chat-room-btn" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Log in</button>
				</form>
			</div>
			<div class="col-md-5">
				<h1>Let's NgeChat Bro!</h1>
				<p>Donec rutrum congue leo eget malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>
				<p>Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta.</p> 
			</div>
			<div class="col-md-4">
				<h3>Register</h3>
				<form id="form-register" role="form" action="/do_register" method="POST">
				  <div class="form-group">
				    <label>Username</label>
				    <input id="reg_un" name="reg_un" type="text" class="form-control">
				  </div><div class="form-group">
				    <label>E-Mail</label>
				    <input id="reg_email" name="reg_email" type="text" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Password</label>
				    <input id="reg_pw" name="reg_pw" type="password" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Confirm Password</label>
				    <input id="reg_conf_pw" name="reg_conf_pw" type="password" class="form-control">
				  </div>
				  <button type="submit" id="add-chat-room-btn" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span> Register Me</button>
				</form>
			</div>
		</div>
		<input type="hidden" id="base_url" value="http://localhost" />
        <script src="/static/assets/vendors/jquery-1.9.1.min.js"></script>
{% endblock %}