<!DOCTYPE html>
<html>
	<head>
		<title>NgeChat v1.0</title>
		<link rel="stylesheet" type="text/css" href="/static/assets/vendors/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/main.css" />
	</head>
	<body>
		<div id="wrap">
			<!-- navigation -->
			<div class="navbar navbar-default navbar-fixed-top">
			    <div class="container">
			      <div class="navbar-header">
			        <a class="navbar-brand" href="#">NgeChat</a>
			      </div>
			      <div class="collapse navbar-collapse">
			        <ul class="nav navbar-nav">
			          {% if session_data.users_un %}
			          <li class="active"><a href="/">Chat</a></li>
			          <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
				            <ul class="dropdown-menu">
				              <li><a href="/setting/chat_room">Chat Room</a></li>
				              <li><a href="#">Profile</a></li>
				            </ul>
			          </li>
			          <li><a href="/logout">Logout</a></li>
			          {% else %}
			          <li><a href="/login">Login</a></li>
			          <li class="dropdown">
				            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
				            <ul class="dropdown-menu">
				              <li><a href="/about">About</a></li>
				              <li><a href="/credit">Credits</a></li>
				            </ul>
			          </li>
			          {% endif %}
			        </ul>
			      </div><!--/.nav-collapse -->
			    </div>
			</div>
			<!-- main content -->
			<div class="container">
				{% block content %}
       			{% endblock %}
			</div>
		</div>
        <!-- <div id="footer">
		  <div class="container">
		    <p class="text-muted credit">This demo web is created by <a href="http://ridwanbejo.wordpress.com">RidwanBejo</a>. Built with jQuery, Node.js, Socket.IO, Express.js, MongoDB, and Twitter Bootstrap. This web apps is inspired by LINE.</p>
		  </div>
		</div> -->
		<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>