{% extends '../layout.html' %}
{% block content %}
		<br/>
		<div class="row">
			<div class="col-md-3">
				<form id="add-chat-room" role="form">
				  <div class="form-group">
				    <label>Add user to {{ room.name }} </label>
				    <input id="users_name" name="users_name" type="text" class="form-control" placeholder="Enter user name">
			  	  </div>
				  <a id="add-users-btn" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a>
				</form>
				<br/>
				<a id="delete-chat-room-btn" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete Chatroom</a>
			</div>
			<div id="chat-room-wrapper" class="col-md-9"  style="overflow-y:scroll;height:450px;">
				<table id="chat-room-member" class="table table-striped">
			        <thead>
			          <tr>
			            <th>#</th>
			            <th>Username</th>
			            <th>Action</th>
			          </tr>
			        </thead>
			        <tbody>
			        	{% for member in room.members %}
		        		<tr id="member-{{ member }}">
				            <td>{{ loop.index }}</td>
				            <td>{{ member }}</td>
				            <td style="width:200px;" >
				            	<a href='javascript:void(0);' class="btn btn-success"><span class="glyphicon glyphicon-user"></span> see profile</a> 
				            	{% if member != room.creator %}
				            	<a href='javascript:void(0);' onclick="kickUsersFromChatRoom('{{ room_id }}', '{{ member }}');" class="btn btn-danger"><span class="glyphicon glyphicon-hand-down"></span> kick</a>
				            	{% endif %}
				            </td>
				         </tr>
			        	{% endfor %}
			        </tbody>
			      </table>
			</div>
		</div>
	
		<input id="room_id" type="hidden" value="{{ room_id }}">
	  	<input type="hidden" id="base_url" value="http://localhost" />
		<script src="/static/assets/vendors/socket.io.min.js"></script>
        <script src="/static/assets/vendors/jquery-1.9.1.min.js"></script>
		<script type="text/javascript">
			var username = "";
			var base_url = $('#base_url').val();
			var socket = io.connect(base_url+':3030');

			$(document).ready(function(){
				// getChatRoom();

				$('#add-users-btn').click(function(e){
					e.preventDefault();
					console.log('add users to chat room...');
					
					var users_name = $('#users_name').val();

					var elem = 	'<tr id="member-'+users_name+'"><td>1</td>'+
					            '<td>'+users_name+'</td>'+
					            '<td style="width:200px;">'+
					            	'<a href="javascript:void(0);" class="btn btn-success"><span class="glyphicon glyphicon-user"></span> see profile</a> '+ 
				            		'<a onclick="kickUsersFromChatRoom(\''+$('#room_id').val()+'\', \''+users_name+'\')" href="javascript:void(0);" class="btn btn-danger"><span class="glyphicon glyphicon-hand-down"></span> kick</a>'+
					            '</td></tr>';

					$('#chat-room-member > tbody').append(elem);
					elem = null;

					addUsersToChatRoom({'users_name':users_name, 'room_id':$('#room_id').val()});
					
				});

				$('#delete-chat-room-btn').click(function(e){
					e.preventDefault();
					console.log('delete chat room...');
					var room_id = $('#room_id').val();
					var delete_item = confirm('Are you sure want to delete this chatroom?');
					if (delete_item){
						$.ajax({
							url: base_url+':3000/setting/chat_room/delete_chat_room',
							data: 'room_id='+room_id,
							type: 'POST',
							success: function(res){
								console.log(res);

								if (res.status_code == 200)
								{
									window.location = '/setting/chat_room/';
								}
								else
								{
									alert('fail to add room');
								}
							}
						});
					}
				
				});
			});

			function addUsersToChatRoom(room_data)
			{
				console.log(room_data);
				$.ajax({
					url: base_url+':3000/setting/chat_room/add_users',
					data: room_data,
					type: 'POST',
					success: function(res){
						console.log(res);

						if (res.status_code == 200)
						{
							alert('successfully add users to chatroom');
						}
						else
						{
							alert('fail to add users to chatroom');
						}
					}
				});
			}

			function kickUsersFromChatRoom(room_id, name)
			{
				var delete_item = confirm('Are you sure want to kick this users ?');
				if (delete_item){

					$.ajax({
						url: base_url+':3000/setting/chat_room/kick_users',
						data: 'room_id='+room_id+'&users_name='+name,
						type: 'POST',
						success: function(res){
							console.log(res);

							if (res.status_code == 200)
							{
								$('#member-'+name).fadeOut('fast');
								alert('successfully kick users from chatroom');
							}
							else
							{
								alert('fail to kick users from chatroom');
							}
						}
					});
				}
			}

		</script>
{% endblock %}