{% extends '../layout.html' %}
{% block content %}
		<div class="row">
			<div class="col-md-12">
				<div id="credit" class="container">
				</div>
			</div>
		</div>
		<input type="hidden" id="base_url" value="http://localhost" />
		<script src="/static/assets/vendors/reactjs/react.js"></script>
		<script src="/static/assets/vendors/reactjs/JSXTransformer.js"></script>
		<script src="/static/assets/vendors/jquery-1.9.1.min.js"></script>
		<script type="text/jsx">
		var CreditItem = React.createClass({
			render: function(){
				return (
						<div style={% raw %}{{margin:'0px 5px 10px 5px'}}{% endraw %} className="list-group-item">
						    <h3 className="list-group-item-heading">{% raw %}{this.props.name}{% endraw %}</h3>
						    <hr />
						    <div className="row">
						    	<div className="col-md-3" style={% raw %}{{'text-align':'center'}}{% endraw %}>
								    <img style={% raw %}{{'height':'auto', 'width':'150px'}}{% endraw %} src={% raw %}{this.props.url}{% endraw %} />
								</div>
						    	<div className="col-md-9">
								    <p className="list-group-item-text">
								    	{% raw %}{this.props.description}{% endraw %}
								    </p>
								</div>
						    </div>
						 </div>
				);
			}
		});

		var CreditApp = React.createClass({
			getInitialState: function(){
				return {
					credit_list: [
						{name:'Twitter Bootstrap', url:"/static/assets/img/credits/bootstrap.png", description:'Twitter Bootstrap is user interface library for web application created by Twitter Inc. for people who want to build sophisticated website with very fast building time. I use Twitter Bootstrap to make the frontend development have a more fast building time.'},
						{name:'jQuery', url:"/static/assets/img/credits/jquery.png", description:'jQuery is famous library for the easy way to manipulate DOM created by John Resig. Under jQuery Foundation, jQuery has large community in the web developer worldwide community. I use jQuery for AJAX that integrate with React.js'},
						{name:'React.js', url:"/static/assets/img/credits/reactjs.png", description:'React.js is javascript library created by Facebook for build sophisticated and manageable user interface for web application. I use React.js to create more reusable component that manipulated by Javascript in every page of this website. So i did not to have concatenate a large string contain HTML text anymore.'},
						{name:'Node.js', url:"/static/assets/img/credits/nodejs.svg", description:'PHP (Personal Homepage Hypertext Preprocessor) is programming language for dynamic website development created by Rasmus Lerdorf and Zend Technologies. I use PHP because its easy to develop a dynamic website.'},
						{name:'Express.js', url:"/static/assets/img/credits/expressjs.png", description:'CodeIgniter is web framework for PHP that can make you develop website more better. CodeIgniter have a good documentation for you to learn CodeIgniter easily.'},
						{name:'MongoDB', url:"/static/assets/img/credits/mongodb.svg", description:'I use MySQL to host a Sakila Movie Rental Database. So i use the dataset to create this example React.js website.'},
					]
				}
			},
			createItem: function(item){
				return <CreditItem name={% raw %}{item.name}{% endraw %} url={% raw %}{item.url}{% endraw %} description={% raw %}{item.description}{% endraw %} />;
				
			},
			render: function(){
				return ( 
					<div>
						<div className="page-header">
							<h1>Credits</h1>
						</div>
						<div className="list-group">
							{% raw %}{this.state.credit_list.map(this.createItem)}{% endraw %}
						</div>
					</div>
				);
			}
		});

		// render komponen utama
		React.render(<CreditApp />, document.getElementById('credit'));
		</script>
{% endblock %}