{% extends '../layout.html' %}
{% block content %}
		<div id="chat-board" class="row">
			<div id="chat-room-wrapper" class="col-md-2"  style="overflow-y:scroll;height:450px;">
				<div id="chat-room" class="list-group">
					<!-- <a class="list-group-item active" onclick="setChatRoom('Inzpire');" style="cursor:pointer;">
						<div style="font-size:11px;">Inzpire</div>
						<p style="font-size:8px;">Lorem ipsum sit dolor amet. Que percentum litarcadores me siamo.</p>
					</a> -->
				</div>
			</div>
			<div id="chat-box"  class="col-md-9">
				<div id="chat-box-wrapper" style="margin:10px;">
					<div id="chat-box-inzpire" style="display:none;height:400px;background:rgb(243, 241, 241);overflow-y:scroll;word-wrap:break-word;">
					</div>
				</div>
				<form class="form-inline" role="form" style="margin: 10px;">
					<div class="form-group">
						<textarea class="form-control" rows="2" cols="80" id="chat-message"></textarea>
						<input type="hidden" id="chat-room" />
					</div>
					<div class="form-group">
						<a href="javascript:void(0);" class="btn btn-primary" id="chat-send-btn" onclick="sendChat();" style="margin-left:10px;">Send</a> 
						<a href="javascript:void(0);" class="btn btn-info" id="chat-send-btn" onclick="sendChat();" style="margin-left:10px;"><span class="glyphicon glyphicon-picture"></span></a>
						<a href="javascript:void(0);" class="btn btn-success" id="chat-send-btn" onclick="sendChat();" style="margin-left:10px;"><span class="glyphicon glyphicon-paperclip"></span></a>
					</div>
				</form>
			</div>
			<div iclass="col-md-1"  style="overflow-y:scroll;height:450px;font-size:11px;background:rgb(245, 245, 245) none repeat scroll 0% 0%;padding:3px;">
				<ul id="chat-room-members" style="list-style-type:none;margin-left:-30px;">
					
				</ul>
			</div>
		</div>
		<input type="hidden" id="base_url" value="http://localhost" />
		<script src="/static/assets/vendors/socket.io.min.js"></script>
        <script src="/static/assets/vendors/jquery-1.9.1.min.js"></script>
		<script type="text/javascript">
			var username = "{{ session_data.users_un }}";
			var base_url = $('#base_url').val();
			var socket = io.connect(base_url+':3030');

			$(document).ready(function(){
			
			});

			socket.on('connect', function (data) {
				socket.emit('joinChat', {name:username});
				getChatRooms();
	        });

	        socket.on('receiveChat', function(data){
	        	appendChat(data);

	        });

			socket.on('disconnect', function(data){
				console.log('disconnect');
			});

			function getChatRooms()
			{
				console.log('get chat rooms...');

				// load chat rooms
				$.ajax({
					url: base_url+':3000/get_chat_rooms',
					data:'username='+username,
					type: 'POST',
					success: function(res){
						console.log(res);

						if (res.status_code == 200)
						{
							result_len = res.data.length;
							var elem = "";
							var elem2 = "";
							for (var i = 0; i < result_len; i++)
							{
								room = res.data[i];
								elem += '<a class="list-group-item" data-rooms-id="'+room._id+'" onclick="setChatRoom(\''+room.name+'\', \''+room._id+'\');" style="cursor:pointer;">'+
									   ' 	<div style="font-size:11px;">'+room.name+'</div>'+
									   ' 	<p style="font-size:8px;">Lorem ipsum sit dolor amet. Que percentum litarcadores me siamo.</p>'+
									   '</a>';

								elem2 += '<div id="chat-box-'+room.name.toLowerCase()+'" style="display:none;height:400px;background:rgb(243, 241, 241);overflow-y:scroll;word-wrap:break-word;"></div>';
							}

							$('#chat-room').html(elem);
							$('#chat-box-wrapper').html(elem2);
							$('a.list-group-item').click(function(){
								$('#chat-room > a').removeClass('active');		
								$(this).addClass('active');
							});
							elem = null;
							elem2 = null;
						}
					}
				});
				// load chat box
			}

			function getLatestChat()
			{
				// load chat terakhir setiap room
			}

			function getPreviousChat()
			{
				// load chat sebelumnya
			}

			function sendChat()
			{
				var chat_room = $("#chat-room").val()
				var data = {sender:username, chatRoomID:chat_room, msgContent:$('#chat-message').val()};
				socket.emit('sendChat', data);
				appendChat(data);
			}

			function appendChat(data)
			{
				var elem = '<div id="chat-item" style="margin:5px;padding:5px;background:white;">'+
								'<div id="chat-item-header" style="font-size:11px;">'+
								'<div class="pull-left" style="font-size:15px;">'+data.sender+'</div>'+
								'<div class="pull-right">('+Date()+')</div></div> '+
								'<div id="chat-item-content" style="margin-top:30px;font-size:10px;">'+data.msgContent+'</div>'+
							'</div>';

				$('#chat-box-'+data.chatRoomID.toLowerCase()).append(elem);
				scrollDownTheChatBox(data.chatRoomID.toLowerCase());
				elem = null;
			}

			function scrollDownTheChatBox(room)
		    {
		    	if ($('#chat-box-'+room).length){
			    	var x = document.getElementById('chat-box-'+room);
					x.scrollTop = x.scrollHeight;
					x = null;
				}
			};

			function setChatRoom(room, room_id)
			{
				var current_room = $('#chat-room').val();
				$('#chat-box-'+current_room.toLowerCase()).hide();
				$('#chat-room').val(room);
				$('#chat-box-'+room.toLowerCase()).show();
				scrollDownTheChatBox(room);
				getChatRoomMembers(room, room_id);
			}

			function getChatRoomMembers(room, room_id)
			{
				console.log('get chat room members...');

				// load chat room members
				$.ajax({
					url: base_url+':3000/get_chat_room',
					data:'room_name='+room+'&room_id='+room_id,
					type: 'POST',
					success: function(res){
						console.log(res);

						if (res.status_code == 200)
						{
							result_len = res.data.members.length;
							var elem = "";
							for (var i = 0; i < result_len; i++)
							{
								members = res.data.members[i];
								elem += '<li style="margin-bottom:3px;">'+members+'</li>';
							}

							$('#chat-room-members').html(elem);
							elem = null;
						}
					}
				});
			}
		</script>
{% endblock %}